<hr/>
<% unless @pins.empty? %> 
	<div class="pins">
	  <% @pins.each_slice(3) do |row| %>
		<div class="row">
		  <% row.each do |pin| %>      
			<div class="pin-container col-md-4">
			  <div class="pin">
				<div class="pin-header row">
				  <div class="logo-thumbnail col-xs-3">
						<% if pin.image? %>
							<%= image_tag("#{pin.image.url(:thumb)}") %>
						<% else %>
							<%= image_tag("#{pin.category.name}-logo-thumbnail.png") %>
						<% end %>
				  </div>
				  <div class+"col-xs-9">
					  <h4>
						<%= link_to "#{pin.title}", pin_by_name_path(slug: pin.slug) %>
					  </h4>
					  <%= link_to "#{pin.url}", pin.url, html_options = {target: "_blank"} %>
				  </div>
				</div>
				<hr/>
				<p class="text"><%= "#{pin.text}" %></p>
				<% if current_user.present? && pin.user_id == current_user.id %>
					<p class="link"><%= link_to "Edit", edit_pin_path(pin) %></p>
					<p class="link"><%= link_to "Delete", pin, method: :delete %></p>
				<% end %>
				<% if current_user.present? %>
					<%= render partial: "shared/repin_form", locals: {pin: pin} %>
				<% else %>
					<h3><%= link_to "Please login to pin this", login_path %>
				<% end %>
			  </div>
			</div>
		  <% end %>
		</div>
	  <% end %>
	</div>
<% end %>
<hr/>